.registro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column-left,
  .column-right {
    flex: 1;
    /* Las columnas ocuparán el mismo espacio */
    padding: 0 10px;
    /* Agregamos un poco de espacio entre las columnas */
  }
  
  .registro-form {
    display: flex; /* Utilizamos flexbox para colocar las columnas en línea */
    background-color: white;
    padding: 20px;
    width: 80%; /* Cambiamos el ancho total del formulario */
    max-width: 800px; /* Limitamos el ancho máximo del formulario */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .registro-form h2 {
    padding-top: 20%;
    width: max-content;
    margin:2%;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .error-input {
    border: 1px solid;
  }