container-fluid {
    height: 50%;
    width: 100%;
    background-color: none;
    }
    
    .carousel-inner img {
    height: auto;
    max-height:500px;
    width: auto;
    max-width: 900px;
    background-color: none;
    }

    .carrusel-1 {        
        margin: 2%;
        background-color: blue;
    }